MESHY_API_KEY=coloque_sua_chave
MESHY_AI_MODEL=meshy-6
MESHY_MAX_REFERENCE_IMAGES=4
GOOGLE_TRANSLATE_API_KEY=coloque_sua_chave_google_translate
SESSION_SECRET=troque_este_segredo

# Sessao/login (seguranca)
TOKEN_TTL_MS=86400000
LOGIN_WINDOW_MS=900000
LOGIN_MAX_ATTEMPTS=6
LOGIN_LOCK_MS=900000
ORDER_WINDOW_MS=300000
ORDER_MAX_PER_WINDOW=20
AI_ACTION_WINDOW_MS=60000
AI_ACTION_MAX_PER_WINDOW=12
PUBLIC_EVENT_WINDOW_MS=300000
PUBLIC_EVENT_MAX_PER_WINDOW=200
TRANSLATE_WINDOW_MS=60000
TRANSLATE_MAX_PER_WINDOW=20
TRANSLATE_MAX_TEXTS=80
TRANSLATE_MAX_CHARS_PER_TEXT=300
TRANSLATE_MAX_TOTAL_CHARS=6000
QA_MIN_PUBLISH_SCORE=70
CAPTURE_MIN_START_FOOD=6
CAPTURE_MIN_START_GENERAL=4
CAPTURE_RECOMMENDED_FOOD=12
CAPTURE_RECOMMENDED_GENERAL=8
